.bottom-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.15);
  color: #ffffff;
  padding: calc(var(--spacing-unit) * 1.5);
  gap: var(--spacing-unit);
}

.ins-text {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-btn-wrapper {
  min-width: calc(var(--spacing-unit) * 14.4);
    background: rgba(255, 159, 26, 0.8);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
    border-radius: calc(var(--spacing-unit) * 0.5);
  
  
}

.nav-btn-wrapper .btn {
  width: 100%;
  padding: calc(var(--spacing-unit) * 1.4) calc(var(--spacing-unit) * 2);
}

.nav-btn-wrapper.disabled {
  background: transparent;
  box-shadow: none;
}

.nav-btn-wrapper.hidden {
  visibility: hidden;
}
